:root {
    --blue: rgb(50, 50, 129);
    --pale_blue: rgb(88, 88, 145);
    --bg: rgb(174, 176, 182);
}

body {
    background-color: var(--bg);

    font-family: Arial, Helvetica, sans-serif;

    margin: 2em;
}

form {
    display: inline-block;
    margin: 2px;
}

h1 {
    color: var(--blue);
}

.two-box {
    display: flex;
    gap: 2em;
    height: 82vh;
}

#left {
    width: 20%;
    min-width: 150px;
}

#right {
    flex-grow: 1;
    border: 1px solid var(--blue);
    overflow-y: auto;
    scrollbar-color: var(--blue) var(--bg);
    scrollbar-width: thin;
}

#controls {
    margin-bottom: 5px;
}

/* "see details" tables */
#details-section {
    border: 1px solid var(--blue);
    max-height: 91%;
    overflow-y: auto;
    scrollbar-color: var(--blue) var(--bg);
    scrollbar-width: thin;
    padding: 5px;
}

.product-fields {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--blue);
    margin-bottom: 1em;
}

.product-fields th, .product-fields td {
    border: 2px solid var(--blue);
    padding: 8px;
}
.product-fields th {
    width: 30%;
    background-color: var(--pale_blue);
    color: white;
    text-align: left;
}


/* table with database items */
#db-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

#db-list tbody tr:first-child td {
    border-top: 0;
}

#db-list th, #db-list td {
    border: 1px solid var(--blue);
    padding: 8px 10px;
}

#db-list thead th {
    background-color: var(--pale_blue);
    color: white;
}
#db-list thead th {
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--blue);
    border-top: 1px solid var(--blue);
}


/* /add page */
.specifics {
    display: none;
}

#new-product-details {
    display: flex;
    gap: 1em;
}

#new-product-details>.specifics {
    flex-grow: 1;
}
#general-details {
    width: 30%;
}
#new-product-details textarea{
    width: 98%;
}

#new-product-details div {
    padding: 8px;
}



/* footer */
#footer {
    color: var(--pale_blue);
}
#footer hr {
    border-color: var(--pale_blue);
}