:root {
    --blue: rgb(50, 50, 129);
    --pale_blue: rgb(88, 88, 145);
    --bg: rgb(174, 176, 182);
}

body {
    background-color: var(--bg);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    padding: 2em;
    margin: 0;
}

form {
    display: inline-block;
    margin: 2px;
}

h1 {
    color: var(--blue);
}

.two-box {
    display: flex;
    gap: 1em;

    max-height: 75vh;
}

#left {
    min-width: 30%;
    max-width: 30%;
}

#right {
    flex-grow: 1;
    border: 1px solid var(--blue);
    overflow-y: auto;
    scrollbar-color: var(--blue) var(--bg);
    scrollbar-width: thin;
}

#controls {
    margin-bottom: 5px;
}


/* "see details" tables */
#details-section {
    border: 1px solid var(--blue);
    overflow: auto;
    scrollbar-color: var(--blue) var(--bg);
    scrollbar-width: thin;
    padding: 5px;

    max-height: 64.9vh;
}

.product-fields {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--blue);
    margin-bottom: 1em;
}

.product-fields th, .product-fields td {
    border: 2px solid var(--blue);
    padding: 8px;
}
.product-fields th {
    width: 6em;
    max-width: 6em;
    background-color: var(--pale_blue);
    color: white;
    text-align: left;
}


/* table with database items */
#db-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 60vh;
}

#db-list tbody tr:first-child td {
    border-top: 0;
}

#db-list th, #db-list td {
    border: 1px solid var(--blue);
    padding: 8px 10px;
}

#db-list thead th {
    background-color: var(--pale_blue);
    color: white;
}
#db-list thead th {
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--blue);
    border-top: 1px solid var(--blue);
}

#db-list tr td:first-child {
    width: 5em;
}
#db-list tr td:first-child label {
    display: inline-block;
    width: 100%;
}


/* /add page */
.specifics {
    display: none;
}

#new-product-details {
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 8px;
}

#new-product-details>.specifics {
    flex-grow: 1;
}
#new-product-details textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

#new-product-details div {
    margin-bottom: 4px;
}



/* footer */
#footer {
    color: var(--pale_blue);
}
#footer hr {
    border-color: var(--pale_blue);
}


/* responsive */
@media screen and (max-width: 800px) {
    .two-box {
        /* move left box on top of right */
        flex-flow: column;
    }
    #left {
        width: 100%;
        max-width: 100%;
    }
    
    #details-section {
        /* let each child div (with the tables sit side-by-side, optionally spillin onto another line? */
        max-height: 35vh;
    }

    /* /add page */
    #new-product-details {
        gap: 0;
        flex-flow: column;
    }
    #general-details {
        width: 100%;
    }
}
  