{% extends "base.html" %}
{% block title %}Add new product{% endblock %}

{% block content %}
<h1>Add new product</h1>

<div class="two-box">

<div id="controls">
    <form action="{{ url_for('index') }}">
        <button>Go back</button>
    </form>
    
    <button form="new-product-details">Submit</button>
</div>

{% block product_details %}
<!--
general product fields always visible: Name, Description, Quantity, Price
type dropdown: select between existant product types
once dropdown option is selected: show fields relevant to that product
-->

<form id="new-product-details" action="" method="post">
    <h3>General product details</h3>
    <div id="general-details">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" required />
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea name="description" required></textarea>
        </div>
        <div>
            <label for="quantity">Quantity: </label>
            <input type="number" name="quantity" min="0" placeholder="1" required />
        </div>
        <div>
            <label for="price">Price: </label>
            <input type="number" name="price" min="0" placeholder="1.00" step="0.01" required />
        </div>
    </div>

    <div id="types">
        <label for="type-select">Type:</label>
        <select name="type" id="type-select" onchange="enableProductSpecifics(this)" required>
            <option value="product">Product</option>
            <option value="book">Book</option>
            <option value="cereal">Cereal</option>
            <option value="clothing">Clothing</option>
            <!-- {% for type in types %}
            <option>{{ type }}</option>
            {% endfor %} -->
        </select>
    </div>

    <div class="specifics" id="book-details" >
        <h3>Book-specific details</h3>
        <div>
            <label for="genre">Genre: </label>
            <input type="text" name="genre" placeholder="Romance"/>
        </div>
        <div>
            <label for="pageCount">Page count: </label>
            <input type="number" name="pageCount" min="0" placeholder="10"/>
        </div>
    </div>

    <div class="specifics" id="cereal-details" >
        <h3>Cereal-specific details</h3>
        <div id="cereal-general">
            <div>
                <label for="netWeight">Net weight: </label>
                <input type="number" name="netWeight" min="0" placeholder="500 g"/>
            </div>
            <div>
                <label for="ingredients">Ingredients: </label>
                <input type="text" name="ingredients" placeholder="Wheat, corn, oats, etc."/>
            </div>
        </div>
        <div id="cereal-nutrition">
            <h4>Nutrition (per 100 grams)</h4>
            <div>
                <label for="calories">Calories: </label>
                <input type="number" name="calories" min="0" placeholder="130 kcal"/>
            </div>
            <div>
                <label for="fat">Fat: </label>
                <input type="number" name="fat" min="0" placeholder="0 g" step="0.1"/>
            </div>
            <div>
                <label for="carbs">Carbs: </label>
                <input type="number" name="carbs" min="0" placeholder="35.5 g" step="0.1"/>
            </div>
            <div>
                <label for="protein">Protein: </label>
                <input type="number" name="protein" min="0" placeholder="2.5 g" step="0.1"/>
            </div>
            <div>
                <label for="fiber">Fiber: </label>
                <input type="number" name="fiber" min="0" placeholder="1 g" step="0.1"/>
            </div>
            <div>
                <label for="salt">Salt: </label>
                <input type="number" name="salt" min="0" placeholder="0 g" step="0.1"/>
            </div>
        </div>
    </div>

    <div class="specifics" id="clothing-details">
        <h3>Clothing-specific details</h3>
        <div>
            <label for="material">Material: </label>
            <input type="text" name="material" placeholder="100% cotton"/>
        </div>
        <div>
            <label for="size-select">Size: </label>
            <select name="size" id="size-select">
                <option value=""></option>
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
                <option value="XL">Extra large</option>
            </select>
        </div>
        <div>
            <label for="color">Color: </label>
            <input type="text" name="color" placeholder="Black"/>
        </div>
    </div>
</form>

{% endblock %}

</div>

{% endblock %}
